<div class="container">
  <h1>Sign Up!</h1>
  {{#each message}}
    <div class="alert alert-danger" role="alert">{{this}}</div>
  {{/each}}
  <form method="post" action='/sign-up'>
    <fieldset class="form-group">
      <input type="text" class="form-control" value='{{formData.name}}'  name='name' placeholder="Name">
    </fieldset>

    <fieldset class="form-group">
      <input type="text" class="form-control"  value='{{formData.email}}' name='email' placeholder="E-mail">
    </fieldset>

    <fieldset class="form-group">
      <input type="password" class="form-control" name='password' placeholder="Password">
    </fieldset>

    <input class="btn btn-primary" type="submit" value="Submit">
  </form>
</div>
